{% extends 'base.html.twig' %}


{% block title %}FAQ
{% endblock %}
{% block body %}
	<div >
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800"> <i class="fa fa-angle-right"></i>FAQ</h1>

		</div>
		
		{{ form(form) }}


			{% if rechquestions %}

				{% for question in rechquestions %}

					{% if question.FAQ %}

						<div class="accordion" id="accordion">
							<div class="accordion-group">
								<div class="accordion-heading" style="width: auto; height: 57px">
									<a class="" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ question.id }}">
										<h6 class="font-weight-bold text-primary">
											<i class="fas fa-caret-right"></i>
											{{ question.FAQ }}
											?</h6>
									</a>
								</div>
								<div id="collapse{{ question.id }}" class="accordion-body collapse in">
									<div class="accordion-inner">
										<p>{{ question.Solution }}</p>
									</div>
								</div>
							</div>

						</div>


					{% endif %}


				{% else %}

					<h3>no records found</h3>

				{% endfor %}

			{% else %}

				{% for question in questions %}

					{% if question.FAQ %}

						<div class="accordion" id="accordion">
							<div class="accordion-group">
								<div class="accordion-heading" style="width: auto; height: 50px">
									<a class="" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ question.id }}">
										<h6 class="font-weight-bold text-primary">
											<i class="fas fa-caret-right"></i>
											{{ question.FAQ }}
											?</h6>
									</a>
								</div>
								<div id="collapse{{ question.id }}" class="accordion-body collapse in">
									<div class="accordion-inner">
										<p>{{ question.Solution }}</p>
									</div>
								</div>
							</div>

						</div>

					{% endif %}


				{% else %}

					<h1>no records found</h1>

				{% endfor %}

			{% endif %}


	

</div>
	{% endblock %}

