{% extends 'base.html.twig' %}


{% block title %}FAQ
{% endblock %}
{% block body %}

	<div class="container">
	<!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">FAQ</h1>
				
        </div>
{{ form(form) }}
		
		

			{% if rechquestions %}

				{% for question in rechquestions %}

					{% if question.FAQ %}

						<div
							class="card shadow mb-4">
							<!-- Card Header - Accordion -->
							<div class="overflow-hidden border-left-primary" style="width: auto; height: 57px">
							<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
								<h6 class="m-0 font-weight-bold text-primary">{{ question.FAQ }}</h6>
							</a>
							...</div>
							<!-- Card Content - Collapse -->
							<div class="collapse show" id="collapseCardExample">
								<div class="overflow-auto card-body">
									{{ question.Solution }}

								</div>
								{# <div class="card-footer">
									<a href="{{ path('app_question_show', {'id': question.id}) }}">Plus</a>
									{% if is_granted('ROLE_REP') %}
										<a href="{{ path('app_question_delete', {'id': question.id}) }}">Supprimer</a>
										<a href="{{ path('app_question_solution', {'id': question.id}) }}">edit</a>
									{% endif %}
									<p class=" float-right ">{{ question.updateAt ? question.updateAt|date('H:i | d-m-Y') : '' }}</p>
								</div> #}
							</div>
						</div>

					{% endif %}


				{% else %}

					<h3>no records found</h3>

				{% endfor %}

			{% else %}

				{% for question in questions %}

					{% if question.FAQ %}

						<div
							class="card shadow mb-4">
							<!-- Card Header - Accordion -->
							<div class="overflow-hidden border-left-primary" style="width: auto; height: 57px">
							<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"  aria-controls="collapseCardExample">
								<h6 class="m-0 font-weight-bold text-primary">{{ question.FAQ }} ?</h6>
							</a>
							...</div>
							<!-- Card Content - Collapse -->
							<div class="collapse show" id="collapseCardExample">
								<div class="overflow-auto card-body">
									{{ question.Solution }}

								</div>
								{# <div class="card-footer">
									<a href="{{ path('app_question_show', {'id': question.id}) }}">Plus</a>
									{% if is_granted('ROLE_REP') %}
										<a href="{{ path('app_question_delete', {'id': question.id}) }}">Supprimer</a>
										<a href="{{ path('app_question_solution', {'id': question.id}) }}">edit</a>
									{% endif %}
									<p class=" float-right ">{{ question.updateAt ? question.updateAt|date('H:i | d-m-Y') : '' }}</p>
								</div> #}
							</div>
						</div>
					{% endif %}


				{% else %}

					<h1>no records found</h1>

				{% endfor %}

			{% endif %}


		</div>


	{% endblock %}

