{% extends 'base.html.twig' %}

{% block title %}New Question
{% endblock %}

{% block body %}
	<div class="row">
		
		<div class="col-6 mx-auto">
			
			<h2>Votre Question </h2>
			<form role="form-horizontal border-0 shadow-lg" method="post">
			{{ form_start(form) }}
			
			<div class="compose-editor">
			{{ form_row(form.Question) }}
			</div>
			<div class="form-group">
			{{ form_row(form.Fonc) }}
			</div>
			<div class="form-group">
			{{ form_row(form.imageFile)}}
			</div>

			<div class="modal-footer">
				<a href="{{ path('app_reponse_index') }}" class="btn btn-outline-secondary">Retour FAQ</a>
				<button class="btn btn-theme" formnovalidate>{{ button_label|default('Enregistré') }}</button>
			</div>
			{{ form_end(form) }}
			</form>
			
		</div>
	</div>


{% endblock %}


