{% extends 'base.html.twig' %}

{% block title %}Edit Control
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">


			<h1>Modification Controller
			</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}

			<div class="modal-footer">
				<a href="{{ path('app_control_index') }}" class="btn btn-secondary">Retour</a>
				<button class="btn btn-theme">{{ button_label|default('Modifier') }}</button>


				{{ form_end(form) }}
				{{ include('control/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}

