{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="modal-footer">
				<a href="{{ path('app_fonc_index') }}" class="btn btn-secondary">Retour</a>
				<button class="btn btn-theme" >{{ button_label|default('Enregistré') }}</button>
			</div>
{{ form_end(form) }}
