{% extends 'base.html.twig' %}

{% block title %}Questions Terminé
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Les questions Terminé
			</h1>
		</div>
		<div class="row mt">
			<div class="col-md-12">
				<section class="tasks-widget">

					<div class="panel-body">
						<div class="task-content">
							<ul class="task-list">
								{% for question in questions %}
									{% if question.Finished %}
										<li>
											<div class="task-checkbox">
												<i class=" fa fa-caret-right"></i>
											</div>
											<div class="task-title">
												<span class="task-title-sp">{{ question.id }}</span>
												<span class="task-title-sp">{{ question.Question }}</span>
												{% if question.FAQ %}
													<span class="badge bg-success">Dans FAQ</span>
												{% endif %}
												{% if question.Fonc %}
													<span class="badge bg-theme ">{{ question.fonc.rout.control.appli.NomApp }}</span>
												{% endif %}
												<div class="float-right hidden-phone">
													{% if question.FAQ == null %}
														<a class="btn btn-success btn-circle btn-sm" href="{{ path('app_question_FAQ', {'id': question.id}) }}">
															<i class="fa fa-location-arrow"></i>
														</a>
														{% else %}
														<a class="btn btn-success btn-circle btn-sm" href="{{ path('app_question_FAQ_Update', {'id': question.id}) }}">
															<i class="fa fa-edit"></i>
														</a>
													{% endif %}
													<a class="btn btn-info btn-circle btn-sm" href="{{ path('app_question_showResponsable', {'id': question.id}) }}">
														<i class="fas fa-eye"></i>
													</a>
													<a class="btn btn-danger btn-circle btn-sm" href="{{ path('app_question_delete', {'id': question.id}) }}">
														<i class="fa fa-trash"></i>
													</a>
												</div>
											</div>
										</li>

									{% endif %}
								{% else %}
									<h2>
										vide
									</h2>
								{% endfor %}
							</ul>
						</div>
					</div>
				</section>
			</div>
			<!-- /col-md-12-->
		</div>
	</div>
{% endblock %}

