{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
<!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Les Applications </h1>
				
				{% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_application_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
					<i class="fas fa-plus-circle fa-sm text-white-50"></i> Nouveau</a>
                    
				{% endif %}
        </div>

		<section>
      <section class="wrapper">
		 <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-6 col-md-4 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                               <a href="{{ path('app_fonc_specl') }}" >
					SPECL</a></div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

						 <!-- Pending Requests Card Example -->
                        <div class="col-xl-6 col-md-4 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
										<div>
											 <a class="text-lg font-weight-bold text-warning text-uppercase mb-1" href="{{ path('app_fonc_IP') }}" >Incidents & Problème</a></div>
                                            </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-6 col-md-4 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
										<div>
											 <a class="text-lg font-weight-bold text-success text-uppercase mb-1" href="{{ path('app_fonc_SIG') }}" >SIG-OC</a></div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-6 col-sm-4 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div>
											 <a class="text-lg font-weight-bold text-info text-uppercase mb-1" href="{{ path('app_fonc_GI') }}" >Inventaire</a></div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>		
					


		

</section>
      <!-- /wrapper -->
    </section>
     

{% endblock %}
