{% extends 'base.html.twig' %}

{% block title %}New Application {% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 mx-auto">
        <h4>Ajout d'Application </h4>
           {{ include('application/_form.html.twig') }}
           


                {# <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">
            Créer
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                {{ form_start(form) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create new Application</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                
               {{ form_widget(form) }}

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                </div>
                 {{ form_end(form) }}
                </div>
            </div>
            </div> #}

   </div>
</div>





{% endblock %}
