{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

<div class="row">
    <div class="col-6 mx-auto">
    <h1>Modification</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
         <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('app_admin_udelete', {'id': user.id}) }}" > delete </a>
    <a href="{{ path('app_admin_utilisateur') }}">back to list</a>
   </div>
</div>
    
{% endblock %}

