{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Liste des Utilisateurs</h1>

</div>

		<div class="table-responsive">
			<table id="datatable" class="table table-striped table-bordered">

				<thead >
					<tr>
						<th>Utilisateur</th>
						<th>Cin</th>
						<th>Roles</th>
						<th>Contact</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.Nom }}
								{{ user.Prenom }}</td>
							<td>{{ user.Cin }}</td>
							<td>
								{% for roles in user.roles %}
									{% if roles == "ROLE_ADMIN" %}
										Administrateur
									{% elseif roles == "ROLE_REP" %}
										Responsable
									{% elseif roles == "ROLE_UAPP" %}
										Utilisateur d'Application
									{% endif %}

								{% endfor %}

							</td>
							<td>{{ user.contact }}</td>
							<td>
                                <a href="{{ path('app_admin_utilisateur_modifier', {'id': user.id}) }}" class="btn btn-primary btn-circle btn-sm">
                                        <i class="fa fa-pen"></i></a>
                                <a href="{{ path('app_admin_udelete', {'id': user.id}) }}" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fa fa-trash"></i></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


   
{% endblock %}
