{% extends 'base.html.twig' %}

{% block title %}Edit Rout
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">

			<h1>Modification Route</h1>

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="modal-footer">
				<a href="{{ path('app_rout_index') }}" class="btn btn-secondary">Retour</a>
				<button class="btn btn-theme">{{ button_label|default('Modifier') }}</button>


				{{ form_end(form) }}
				{{ include('rout/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}

