{% extends 'base.html.twig' %}

{% block title %}Vos Questions
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Vos Questions
			</h1>
		</div>
		{% for question in app.user.questions %}
			{% if question.Finished == null %}
			{% if question.Reponse == null %}
				{% set border = "border-left-danger" %}
			{% else %}
				{% set border = "border-left-warning" %}
			{% endif %}

			<div class="table-inbox-wrap ">
				<table class="table table-inbox table-hover">
					<tbody>
						<tr class="read {{ border }}">
							<td class="inbox-small-cells">
								<i class="fa fa-caret-right"></td>
							</td>
							<td class="view-message">
								<a href="{{ path('app_question_detail', {'id': question.id}) }}">{{ question.Question }}
								</td>
								{% if question.Reponse == null %}
									<td>
										<span class="badge bg-important float-right">sans Réponse</span>
									</td>
								{% elseif question.Reponse and question.Finished == null  %}
									<td>
										<span class="badge bg-warning float-right">en cours</span>
									</td>
								{% else %}
									<td>
										<span class="badge bg-warning float-right">Terminé</span>
									</td>
								{% endif %}
								{% if question.Fonc %}
									<td>
										<span class="badge bg-theme float-right">{{ question.fonc.rout.control.appli.NomApp }}</span>
									{% endif %}
								</a>
							</td>
							{% if question.imageName %}
								<td class="view-message  inbox-small-cells">
									<i class="fa fa-paperclip"></i>
								</td>
							{% endif %}

							{% if question.updateAt %}
								<td class="view-message  text-right">{{ question.updateAt ? question.updateAt|date('H:i | d-m-Y') : '' }}</td>
							{% else %}
								<td class="view-message  text-right">{{ question.DateQuest ? question.DateQuest|date('H:i | d-m-Y') : '' }}</td>
							{% endif %}
						</tr>

					</tbody>
				</table>
			</div>
			{% endif %}
		{% else %}
			<h2>
				vide
			</h2>
		{% endfor %}
	</div>
	{#  #}
{% endblock %}

